@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css");

body {
  display: grid;
  align-items: center;
  justify-items: center;
}

.button-container, form {
  display: grid;
  gap: 10px;
  grid-auto-flow: column; /* Align items in a row */
}

table, form, .button-container {
  width: 80%;
  border-collapse: collapse;
}
